:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  max-width: 500px;
  align-items: center;
  justify-content: center;

  text-shadow: 2px 2px 5px black;
  color-scheme: light;
  color: white;
  background-color: #e8e3e3;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: normal start;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: rgb(255, 179, 0);
  font-family: cursive;
  font-size: 3.2em;
  line-height: 1.1;
  text-shadow: 3px 3px 5px black;

}

h3 {
  font-size: 5.5em;
  color: rgba(255, 0, 0, 0.773)
}

li {
  font-weight: 400;
  text-align:start;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 0.5em;
  margin: 0.1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #e8e3e3;
  background-color: #413f3f;
  cursor: pointer;
  transition: border-color 0.25s;

}
/* button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
